* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  background-color: aquamarine;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

article {
  background-color: beige;
  /* width: 80%; */
  display: inline-block;
  margin: 1rem;
}

footer {
  background-color: rgb(50, 58, 58);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  height: 5vh;
}

header {
  background-color: rgb(50, 58, 58);
  height: 5vh;
  text-align: center;
  /* background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  left: 0;
  right: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.nav {
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0;
}

.nav ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
}

.nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.nav {
  background-color: #333;
}

.nav a.active {
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #444;
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  display: none;
  z-index: 1000;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #575757;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.image-container img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  border: 1px solid blue;
}

.image-container img:hover {
  transform: scale(1.05);
}
.panda-container {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space between items */
  padding: 1em;
}

.panda-container img {
  width: 50%; /* Image takes up 50% of the container */
  object-fit: cover; /* Ensure the image maintains aspect ratio */
}

.panda-container p {
  width: 50%; /* Text takes up 50% of the container */
  padding: 0 10px; /* Optional padding for spacing */
  text-align: justify; /* Optional, to align the text nicely */
}

.box-container {
  background-color: black;
  height: 150px;
  width: 150px;
  background-image: url(../images/Panda.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

/* Default styles for mobile nav - Hidden by default */
#navbar-links,
.mobile-nav,
.hamburger-menu {
  display: none;
}

/* Set up a 3D container perspective */
.threed-button {
  background-color: #ff000000;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;

  /* Add perspective to the container */
  transform-style: preserve-3d; /* Maintain 3D transformations */
  animation: rotateX 4s infinite linear; /* Rotate around X-axis */

  position: absolute;
  left: 1%;
  /* Add perspective to the container */

  /* Transition effects for the text */
  transition: color 0.3s ease, font-size 0.3s ease, opacity 0.3s ease;
}

/* Keyframes to rotate the element on the X-axis */
/* Keyframes to rotate the element on the X-axis */
@keyframes rotateX {
  0% {
    transform: rotateY(0deg); /* Start from 0 degrees */
    color: white; /* Starting text color */
    font-size: 20px; /* Initial font size */
  }
  25% {
    color: #dddcd6; /* Change color to yellow */
    font-size: 16px; /* Shrink font size */
  }
  50% {
    transform: rotateY(180deg); /* Halfway through the rotation */
    color: #c1ebc1; /* Change color to green */
    font-size: 20px; /* Normal font size */
  }
  75% {
    color: #d3c9f5; /* Change color back to yellow */
    font-size: 22px; /* Expand font size */
  }
  100% {
    transform: rotateY(360deg); /* Full rotation */
    color: white; /* Change back to white */
    font-size: 20px; /* Normal font size */
  }
}

/* Focus effect (when clicked or focused) */
.threeD-button:focus {
  outline: 2px solid #2196f3; /* Add outline when focused */
  outline-offset: 2px;
}

/* Styles for mobile screen sizes */
@media (max-width: 700px) {
  .threed-button {
    display: none;
  }
  /* Image container responsive */
  .image-container img {
    width: calc(50% - 10px);
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #333;
      position: absolute;
      top: 60px; /* To avoid overlap with the header */
      width: 100%;
    }
  }

  /* Navbar styling for mobile */
  .nav ol {
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    display: block; /* Makes navbar block for mobile */
  }

  .nav ol li {
    margin-bottom: 10px;
  }

  /* Mobile menu links */
  #navbar-links.active {
    display: block; /* Show the menu when active */
  }

  /* Show hamburger menu on mobile */
  .hamburger-menu {
    display: block;
    cursor: pointer;
    font-size: 30px;
    margin-right: 20px;
  }
  .nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    background-color: #333;
  }
  /* Mobile navigation container */
  .mobile-nav {
    display: block;
  }

  /* Hide the default navbar container */
  #navbar-container {
    display: none;
  }
}

.pdf-container {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-bottom: 1;
  border: #333;
}

.magic {
  background-color: #f9ca24;
  color: #000;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  padding: 24px 40px;
  margin-bottom: 24px;
  margin-left: 45vh;
  cursor: pointer;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;

  margin-left: 25vh;
  margin-bottom: 25vh;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
  margin-left: 25vh;
  margin-top: 2vh;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWM4NTdlMDVxaXBqY2YweXY3dXBkbjZhaTlqeDNhd3QwZHdrZDI2NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kPVTbiTORIopy/giphy.gif");
  /* background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExazF0c2U0dmt5NjJmd29memV4aGp5aDgxbGxxYjk4YW8wZnhtcDFhbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/78XCFBGOlS6keY1Bil/giphy.gif"); */
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
.box::before {
  content: "";
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
/* .circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
} */

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.background-homepage {
  background-image: url("../images/elisabeth-zink-m7diXPikcy0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;
}

.background-homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  backdrop-filter: blur(1px);
}

.background-homepage .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.background-homepage h5,
.background-homepage h1,
.background-homepage p {
  margin: 0;
  padding: 0;
}

.background-homepage h5 {
  margin-bottom: 10px;
}

.background-homepage h1 {
  margin-bottom: 10px;
}

.background-homepage p {
  margin-bottom: 20px;
}

.blue-out {
  color: aqua;
}
.gray-out {
  color: gray;
}

.snake-game-container {
  position: relative;
  margin: 20px auto;
  padding: 10px;
  background-color: #333;
  width: 420px;
  height: 420px;
  border: 2px solid white;
  text-align: center;
}

#snake-gameCanvas {
  background-color: #000;
  border: 1px solid #fff;
}

#gameStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#gameOverMessage {
  display: none;
}

button {
  background-color: #2e5077;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

nav button:hover {
  background-color: #575757;
}

/* Container for the projects */
.projects-container {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden; /* Hides the overflow so only one project card is visible */
  background-color: rgb(53, 42, 42);
}

/* Wrapper for all the project cards */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
  padding: 0.5%;
}

/* Project card styling */
.project-card {
  display: flex;
  background-color: rgb(233, 123, 123);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  outline: 1px solid blue;
  padding: 20px;
  width: 50%;
  flex-shrink: 0; /* Ensures that cards don't shrink */
}

/* Image section of the card */
.project-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Project details section */
.project-details {
  flex: 1;
  padding-left: 20px;
}

/* Title and description */
.project-details h3 {
  margin-top: 0;
}

.project-details p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Tech stack section */
.techstack img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: contain;
}

/* .card-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #3b3434;
  border: 2px solid red;
}

.card {
  background-color: black;
  border: 2px solid red;
  height: 2rem;
  width: 2rem;
} */

/* Make the canvas container take the full screen */
.fps-gameCanvas {
  position: fixed; /* Fixed positioning to ensure it stays in place */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #000; /* Optional: background color */
  z-index: -1; /* Ensure canvas is behind other elements like buttons */
}

/* Make the canvas itself fill the container */
#webgl-canvas {
  width: 100%;
  height: 100%;
  display: block; /* Prevents extra space at the bottom */
}

/* Crosshair Styles */
#crosshair {
  position: absolute;
  top: 50%; /* Center horizontally */
  left: 50%; /* Center vertically */
  width: 20px; /* Width of the horizontal line */
  height: 2px; /* Height of the horizontal line */
  background-color: #ff0000; /* Red color for the crosshair */
  transform: translate(
    -50%,
    -50%
  ); /* Center it exactly at the middle of the screen */
  z-index: 10; /* Ensure it is on top of the canvas */
}

/* Vertical line for the crosshair */
#crosshair::after {
  content: "";
  position: absolute;
  top: -10px; /* Adjust this to extend the vertical line above the horizontal one */
  left: 50%;
  width: 2px; /* Width of the vertical line */
  height: 20px; /* Height of the vertical line */
  background-color: #ff0000; /* Red color for the crosshair */
  transform: translateX(-50%);
}
